<h1>Research Articles</h1>

<%= form_with(url: research_articles_path, method: :get, local: true) do |form| %>
  <div>
    <%= form.check_box :filter_all_yes, { checked: params[:filter_all_yes] == 'true' }, 'true', 'false' %>
    <%= form.label :filter_all_yes, 'Show only articles where all categories are "Yes"' %>
  </div>
  <div>
    <%= form.check_box :filter_all_not_specified, { checked: params[:filter_all_not_specified] == 'true' }, 'true', 'false' %>
    <%= form.label :filter_all_not_specified, 'Show only articles where all categories are "Not Specified"' %>
  </div>
  <%= form.submit 'Filter' %>
<% end %>

<!-- Displaying the total count of articles -->
<p>Total Articles: <%= @research_articles.size %></p>

<table>
  <thead>
    <tr>
      <th>DOI</th>
      <th>PMID</th>
      <th>Title</th>
      <th>About Brazil</th>
      <th>From Brazilians</th>
      <th>Uses iNaturalist Prominently</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @research_articles.each do |article| %>
      <tr>
        <td><%= link_to article.doi, "https://doi.org/#{article.doi}", target: '_blank' %></td>
        <td><%= article.pmid %></td>
        <td><%= raw article.title %></td>
        <td><%= boolean_to_text(article.about_brazil) %></td>
        <td><%= boolean_to_text(article.from_brazilians) %></td>
        <td><%= boolean_to_text(article.uses_inaturalist_prominently) %></td>
        <td><%= link_to 'View', research_article_path(article) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
